/*

!/.gitignore

!/apis/
!/client/
!/cluster/
!/unsorted/
!/pkg/
!/octelium-go/
!/.github/

!/go.work
!/go.work.sum
!/LICENSE-AGPL-3.0
!/LICENSE-APACHE
!/Makefile
!/README.md
!/SECURITY.md

!/.vscode/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json